In [1]:
import numpy as np
import pandas as pd

# Create Dictionaries

In [2]:
Q = []
SIGMA = []

## Init SIGMA and Q

In [3]:
for name in range(10):
    with open(f"results{name}.txt", "r") as file:
        for line in file.readlines():
            q, sigma = line.split("-")
            sigma = sigma.replace("\n", "")

            if q not in Q: Q.append(q)
            if sigma not in SIGMA: SIGMA.append(sigma)

In [4]:
Q

['rainy', 'sunny']

In [5]:
SIGMA

['sun', 'clouds']

In [6]:
PI = pd.DataFrame({})
PI_counts = 0
A = pd.DataFrame({})
A_counts = pd.DataFrame({})
B = pd.DataFrame({})
B_counts = pd.DataFrame({})

In [7]:
for q in Q:
    PI[q] = [0]
    A_counts[q] = [0]
    B_counts[q] = [0]
    A[q] = [0] * len(Q)
    B[q] = [0] * len(SIGMA)

A.index = Q
B.index = SIGMA

In [8]:
PI

   rainy  sunny
0      0      0

In [9]:
A

       rainy  sunny
rainy      0      0
sunny      0      0

In [10]:
B

        rainy  sunny
sun         0      0
clouds      0      0

# Training Markov Chains

In [11]:
for name in range(10):
    with open(f"results{name}.txt", "r") as file:
        line = file.readline()
        q_, sigma = line.split("-")
        sigma = sigma.replace("\n", "")
        PI[q_] += 1
        PI_counts += 1
        B[q_][sigma] += 1
        B_counts[q_] += 1

        for line in file.readlines():
            q = q_
            q_, sigma = line.split("-")
            sigma = sigma.replace("\n", "")
            B[q_][sigma] += 1
            B_counts[q] += 1
            A[q][q_] += 1
            A_counts[q] += 1

In [12]:
A /= A_counts.values
A

          rainy   sunny
rainy  0.698075  0.2017
sunny  0.301925  0.7983

In [13]:
B /= B_counts.values
B

           rainy     sunny
sun     0.301948  0.948884
clouds  0.698551  0.050783

In [14]:
PI /= PI_counts
PI

   rainy  sunny
0    0.3    0.7