In [1]:
import numpy as np
import pandas as pd

In [2]:
Q = ["sunny", "rainy"]
SIGMA = ["sun", "clouds"]
PI = [0.8, 0.2]

In [3]:
A = pd.DataFrame({"sunny": [0.8, 0.2], "rainy": [0.3, 0.7]})
A.index = ["sunny", "rainy"]

In [4]:
A

       sunny  rainy
sunny    0.8    0.3
rainy    0.2    0.7

In [5]:
B = pd.DataFrame({"sunny": [0.95, 0.05], "rainy": [0.7, 0.3]})
B.index = ["sun", "clouds"]

In [6]:
B

        sunny  rainy
sun      0.95    0.7
clouds   0.05    0.3

In [7]:
# init q
q = np.random.choice(Q, p=PI)
sigma = np.random.choice(SIGMA, p=B[q])
print(f"{q} ({sigma})")

for i in range(100):
    q_ = np.random.choice(Q, p=A[q])
    sigma = np.random.choice(SIGMA, p=B[q])
    print(f"{q_} ({sigma})")

sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
rainy (sun)
rainy (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
rainy (clouds)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (clouds)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
rainy (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
rainy (sun)
rainy (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)
sunny (sun)
rainy (sun)
sunny (clouds)
sunny (sun)
sunny (sun)
sunny (sun)
sunny (sun)
rainy (sun)