In [1]:
import numpy as np
import pandas as pd

In [2]:
Q = ["sunny", "rainy"]
SIGMA = ["sun", "clouds"]

In [3]:
# probability that with a sunny day, the next day is going to be sunny or rainy
A = pd.DataFrame({Q[0]: [0, 0], Q[1]: [0, 0]})
A.index = [Q[0], Q[1]]
A_counts = pd.DataFrame({Q[0]: [0], Q[1]: [0]})
A

       sunny  rainy
sunny      0      0
rainy      0      0

In [4]:
# probability that with a sunny day, there is going to be sun or clouds
B = pd.DataFrame({Q[0]: [0, 0], Q[1]: [0, 0]})
B.index = [SIGMA[0], SIGMA[1]]
B_counts = pd.DataFrame({Q[0]: [0], Q[1]: [0]})
B

        sunny  rainy
sun         0      0
clouds      0      0

In [5]:
# init probabilities of sunny and rainy
PI = pd.DataFrame({Q[0]: [0], Q[1]: [0]})
PI_counts = 0
PI

   sunny  rainy
0      0      0

In [6]:
for name in range(10):
    with open(f"results{name}.txt", "r") as file:
        line = file.readline()
        q_, sigma = line.split("-")
        sigma = sigma.replace("\n", "")
        PI[q_] += 1
        PI_counts += 1
        B[q_][sigma] += 1
        B_counts[q_] += 1

        for line in file.readlines():
            q = q_
            q_, sigma = line.split("-")
            sigma = sigma.replace("\n", "")
            B[q_][sigma] += 1
            B_counts[q] += 1
            A[q][q_] += 1
            A_counts[q] += 1

In [7]:
A /= A_counts.values
A

        sunny     rainy
sunny  0.7983  0.301925
rainy  0.2017  0.698075

In [8]:
B /= B_counts.values
B

           sunny     rainy
sun     0.948884  0.301948
clouds  0.050783  0.698551

In [9]:
PI /= PI_counts
PI

   sunny  rainy
0    0.7    0.3